<%= form_tag search_path, remote: true, class: 'form-inline' do %>
  <div class="form-group">
    <%= text_field_tag 'location', nil, placeholder: 'Location', autofocus: true, class: 'form-control' %>
  </div>

  <%= submit_tag 'Gimme the weather!', class: 'btn btn-primary' %>
<% end %>

<div id="weather-details"></div>
